body{
    margin:0;
}
.Load{
    background-color: #C00000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.Loadimg{
    margin-inline-end: 10vw;
    margin-inline-start: 10vw;
    width: 80vw;
    height: 93.72vw;
    max-width: 50vh;
    max-height: 58.58vh;
}
.Loadtext{
    width: 80vw;
    max-width: 50vh;
    text-align: center;
    font-size: 10vw;    
}
@media(min-width:80vh){
    .Loadtext{
        font-size: 8vh;    
    }
}